.navbar-brand{
  color: #ff69b4;
}
.nav-link{
  color: #ff69b4;
}

#learn_nav{
  padding-left: 700px;
  font-size: 18px;
}
#quiz_nav{
  padding-left: 75px;
  font-size: 18px;
}

.homepage-spacer{
  margin-top: 200px;
}

#homepage-large-text{
  font-size: 32px;
}
#homepage-small-text{
  font-size: 24px;
}
.main_btn_style{
  border: 4px solid #ff69b4;
  background-color: #ff69b4;
  border-radius: 2px;
  color: #F5F5F5;
}
.secondary_btn_style{
  border: 2px solid #ff69b4;
  background-color: #F5F5F5;
  border-radius: 2px;
  color: #ff69b4;
}

.homepage-text-spacer{
  margin-top:20px;
  margin-bottom:20px;
}
img{
  width: 100%;
}
/* #homepage_img{
  margin-top: 100px;
} */
.large-text{
  font-size: 28px;
  text-align: center;
  padding: 20px;
}
.bottom_right_button_pos{
  position: fixed;
  bottom: 30px;
  right: 30px;
}
.bottom_left_button_pos{
  position: fixed;
  bottom: 30px;
  left: 30px;
}

.bottom_middle_time_pos{
  position: fixed;
  bottom: 30px;
  text-align: center;
  right: 350px;
  left: 350px;
}

#judge_name{
  font-weight: bold;
  font-size: 36px;
}
#served{
  font-size: 20px;
}
.column_margins{
  padding: 30px;
}
.judge_info_text{
  font-size: 28px;
}
#ideology_img{
  width: 50%;
}
.center{
  text-align: center;
}
#learning_complete_text_1{
  margin-top: 50px;
  font-size: 46px;
}
#learning_complete_text_2{
  margin-top: 50px;
  font-size: 28px;
}
#back_to_learn{
  margin-left: 20px;
  margin-right: 20px;
}
#cont_to_quiz{
  margin-left: 20px;
  margin-right: 20px;
}
#line{
  border-bottom: solid 5px black;
  width: 1500px;
}
#ordering_people{
  padding-top: 150px;
}

.whole1{
  margin-left: 100px;
}
.type{
  display: inline-block;
  font-size: 30px;
  font-weight: bold;
}
#moderate{
  margin-left: 650px;
}
#conservative{
  margin-left: 450px;
}
#naming_description{
  font-size: 20px;
  padding-bottom: 150px;
}
#match_description{
  font-size: 20px;
  padding-bottom: 150px;
}
#order_description{
  font-size: 20px;
  padding-bottom: 80px;
}
#round_1{
  font-size: 30px;
  font-weight: bold;
}
#round_2{
  font-size: 30px;
  font-weight: bold;
}
#round_3{
  font-size: 42px;
  font-weight: bold;
}

#quiz_complete_text_1{
  margin-top: 70px;
  font-size: 46px;
}
#quiz_complete_text_2{
  margin-top: 50px;
  font-size: 28px;
}
.result_button{
  border: 4px solid black;
  background-color: white;
  border-radius: 2px;
  color: black;
  font-weight: bold;

}
#FACT{
  background-color: #ff69b4;
  width: 250px;
  height: 40px;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 50px;
}
.options {
  color: black;
  font-weight: bold;
}

#error_message{
  padding-bottom: 100px;
}
#learn_intro_img{
  margin-top: 20px;
}

#error_message{
  padding-bottom: 200px;
}
.rounded_img{
  border-radius: 5px;
}
#homepage_border{
  border: 2px solid #ff69b4;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: 	#F5F5F5;
  border-radius: 5px;
}
.homepage-spacer-2{
  margin-top: 75px;
}
#centered_homepage_text{
  text-align: center;
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.navbar-custom{
  background-color: #ff69b4;
}
.navbar-text{
  color: 	#F5F5F5;
}
.border_box{
  border: 2px solid #ff69b4;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: 	#F5F5F5;
  border-radius: 5px;
}
#learn_complete_border{
  margin-top: 150px;
}
#quiz_complete_border{
  margin-top: 150px;
}
.quiz_intro_text_1{
  font-size: 28px;
  padding-top: 20px;
}
.quiz_intro_text_2{
  color:	#696969;
  font-size: 28px;
}
#learn_intro_padding{
  padding-top: 100px;
}
