{% extends "layout.html" %}

{% block content %}

<div class = "row">
  <div class = "col-md-12 homepage-text-spacer">
    <div class = "large-text" id="learn_intro_padding">
      <div>
      You will learn about the women that have sat on the United States Supreme Court: <br>
      </div>
      <div>
      <b>Sandra Day O’Connor, Ruth Bader Ginsburg, Sonia Sotomayor, Elena Kagan, and Amy Coney Barrett.</b>
      </div>
    </div>
  </div>
</div>
<div class = "row">
  <div class = "col-md-4"></div>
  <div class = "col-md-4">
    <img class = "rounded_img" id = "learn_intro_img" alt = "image of supreme court building" src ="https://images.pexels.com/photos/6077326/pexels-photo-6077326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
  <div class = "col-md-4"></div>
</div>
</div>
<div class = "bottom_right_button_pos">
  <a href="/learn/1"><button class = "main_btn_style" type="button" id="start_button">Start Learning</button></a>
</div>

{% endblock %}
