{% extends "layout.html" %}

{% block content %}
<div class = "row">
  <div class = "col-md-1"></div>
  <div class = "col-md-10">
    <div class = "border_box" id="learn_complete_border">
      <div class = "row">
        <div class = "col-md-12 center" id="learning_complete_text_1">
          You've completed the learning portion!
        </div>
      </div>
      <div class = "row">
        <div class = "col-md-12 center homepage-text-spacer" id="learning_complete_text_2">
          <a href="/learn"><button class = "secondary_btn_style" type="button" id="back_to_learn">Learn Again</button></a>
          or test your knowlege and
          <a href="/quiz_intro"><button class = "main_btn_style" type="button" id="cont_to_quiz">Take Quiz</button>
        </div></a>
      </div>
    </div>
  </div>
  <div class = "col-md-1"></div>
</div>

{% endblock %}
