{% extends "layout.html" %}

{% block content %}

<div class = "row">
  <div class = "col-md-12 homepage-text-spacer">
    <div class = "large-text">
      You will learn about the women that have sat on the United States Supreme Court: <br>
      Sandra Day O’Connor, Ruth Bader Ginsburg, Sonia Sotomayor, Elena Kagan, and Amy Coney Barrett.
    </div>
  </div>
</div>
<div class = "bottom_right_button_pos">
  <a href="/learn/1"><button class = "main_btn_style" type="button" id="start_button">Start Learning</button></a>
</div>

{% endblock %}
