{% extends "layout.html" %}

{% block content %}

    <script>
        let data =
        {{data|tojson}}
    </script>

    <div class = "col-md-4 center homepage-text-spacer" id="round_3">Round 3: Ordering</div>
    <div>Drag each statement and match it to the corresponding Justice</div>
    
    <div class="bottom_right_button_pos">
        <a href="/quiz_complete">
            <button class="main_btn_style" type="button" id="next_learn">Finish Quiz</button>
        </a>
    </div>

{% endblock %}