{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_matching.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
    <script>
        let data = {{data|tojson}};
        let image = {{image|tojson}};
    </script>

    <div class="matching" id="round_2">Round 2: Matching</div>
    <div id="match_description">Drag each statement and match it to the corresponding Justice</div>

    <div class="whole">
        <div class="row" id="matching_people"></div>
        <div id="FACT">FACTS</div>
        <div id="facts"></div>
    </div>

    <div class="bottom_right_button_pos">
        <a href="/quiz/3">
            <button class="main_btn_style" type="button" id="next_quiz_match">Enter Round 3: Ordering</button>
        </a>
    </div>

{% endblock %}