{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<div class = "row">
  <div class = "col-md-12" id="learning_complete_text_1">
    The quiz has three Rounds:
  </div>
</div>

<div class = "row">
  <div class = "col-md-4 center homepage-text-spacer quiz_intro_text_1">
    Round 1: Naming
  </div>

  <div class = "col-md-4 center homepage-text-spacer quiz_intro_text_1">
    Round 2: Matching
  </div>

  <div class = "col-md-4 center homepage-text-spacer quiz_intro_text_1">
    Round 3: Ordering
  </div>
</div>

<div class = "row">
  <div class = "col-md-4 center homepage-text-spacer quiz_intro_text_2">
    Select the name of each Supreme Court Justice under their picture
  </div>

  <div class = "col-md-4 center homepage-text-spacer quiz_intro_text_2">
    Drag each statement and match it to the corresponding Justice
  </div>

  <div class = "col-md-4 center homepage-text-spacer quiz_intro_text_2">
    Order each Justice on their ideology
  </div>
</div>
<div class = "row">
  <div class = "col-md-4"></div>
  <div class = "col-md-4">
    <img class = "rounded_img" id = "learn_intro_img" alt = "image of supreme court building" src="https://images.unsplash.com/photo-1593115057322-e94b77572f20?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8anVkZ2V8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60">
  </div>
  <div class = "col-md-4"></div>
</div>

<div class = "bottom_right_button_pos">
    <a href="/quiz/1"><button class = "main_btn_style" type="button" id="next_learn">Enter Round 1: Naming</button></a>
</div>

{% endblock %}
