{% extends "layout.html" %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz_naming.js') }}"></script>
<script>
    let image = {{image|tojson}}
    let name = {{name|tojson}}
</script>

<div class="naming" id="round_1">Round 1: Naming</div>
<div id="naming_description">Select the name of each Supreme Court Justice under their picture</div>

<div class="naming_container">
    <div class="row" id="image_container"></div>
    <div class="row" id="select_container"></div>
</div>

<div id="dialog"></div>

<div class="bottom_right_button_pos">
        <button class="result_button" type="button" id="naming_result">Check Results</button>
        <a href="/quiz/2">
            <button class="main_btn_style" type="button" id="next_quiz_naming">Enter Round 2: Matching</button>
        </a>
</div>
{% endblock %}